/* @media only screen and (min-width: 376px) {
  div#root {
    display: none;
  }
  body:after {
    display: inline-block;
    font-size: 72px;
    text-align: center;
    white-space: pre-wrap;
    content: '\00000a Thanks for stopping by.\00000a Head on over to iPhone 6 resolution (375px width) for the real-deal.';
  }
} */
